<app-header></app-header>
<div class="home-wrapper">
    
    <nav class="middle-navbar  bg-white p-4 rounded shadow d-flex flex-column flex-md-row gap-4 align-items-center">
      <a class="text-dark text-decoration-none fw-semibold" href="#">Enter Keyword here...</a>
     <!-- Buy Dropdown -->
    <div class="dropdown">
        <a class="dropdown-toggle text-dark text-decoration-none fw-semibold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Select Type
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">jkkk</a></li>
          <li><a class="dropdown-item" href="#">Commercial</a></li>
        </ul>
      </div>
  
      <!-- Rent Dropdown -->
      <div class="dropdown">
        <a class="dropdown-toggle text-dark text-decoration-none fw-semibold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Select Location
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Apartments</a></li>
          <li><a class="dropdown-item" href="#">Offices</a></li>
        </ul>
      </div>
      <a class="text-dark text-decoration-none fw-semibold" href="#">Enter Location</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search homes..." aria-label="Search">
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </nav>

   
   
  </div>
 
  